/* Satoshi from Fontshare */
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400,300&display=swap');

/* Animated typing dots */
@keyframes blink {
  0%, 20% {
    opacity: 0.3;
    transform: scale(0.85);
  }
  40%, 60% {
    opacity: 1;
    transform: scale(1.15);
  }
  80%, 100% {
    opacity: 0.3;
    transform: scale(0.85);
  }
}

.typing-dots {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.typing-dots span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.3;
  animation: blink 1.4s infinite ease-in-out;
  transform: scale(0.85);
  will-change: transform, opacity;
}

.typing-dots span:nth-child(1) {
  animation-delay: 0s;
}

.typing-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0.4s;
}
